.b-header {
    height: 60px;
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $white;
    padding: 30px 20px 0;
    &__list {
        display: flex;
    }
    &__item {
        padding: 0 10px;
    }
}